## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Check if TensorFlow can access GPU hardware acceleration
gpus = tf.config.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
    except RuntimeError as e:
        print(e)
else:
    print("No GPU found, using CPU for training.")
        
# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION", 
                                                   "AFFILIATION", "USE_CASE", "ORGANIZATION", 
                                                   "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummy_df.drop(columns=["IS_SUCCESSFUL"]).values
y = dummy_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Import the kerastuner library
import keras_tuner as kt

class OptimizedModels(kt.HyperModel):    
    # Create a method that creates a new Sequential model with hyperparameter options
    def build(self, hp):
        nn_model = tf.keras.models.Sequential()

        # Allow kerastuner to decide which activation function to use in hidden layers
        activation = hp.Choice('activation',['relu','tanh','sigmoid'])
        
        # Add input dimension to the first layer
        nn_model.add(tf.keras.layers.InputLayer(input_shape=(X_train_scaled.shape[1],)))

        # Allow kerastuner to decide number of neurons in first layer
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
            min_value=2,
            max_value=64,
            step=2), activation=activation))

        # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
        for i in range(hp.Int('num_layers', 1, 6)):
            nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                min_value=16,
                max_value=64,
                step=16),
                activation=activation))

        nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

        # Compile the model
        nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

        return nn_model

    def fit(self, hp, model, x, y, **kwargs):
        # Define batch_size as a hyperparameter
        batch_size = hp.Int('batch_size', 256, 1024, step=256)
        return model.fit(
            x,
            y,
            batch_size=batch_size,
            **kwargs
        )

In [ ]:
# Create a Hyperband tuner instance
tuner = kt.Hyperband(
    OptimizedModels(),
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [14]:
# Run the kerastuner search for best hyperparameters
import os
workers = os.cpu_count()
tuner.search(
    X_train_scaled, y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=20,
    use_multiprocessing=True,
    workers= workers,
    callbacks=[tf.keras.callbacks.EarlyStopping(patience=3)]
)

Trial 60 Complete [00h 00m 05s]
val_accuracy: 0.7100874781608582

Best val_accuracy So Far: 0.7356268167495728
Total elapsed time: 00h 03m 01s

In [15]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 46, 'num_layers': 2, 'units_0': 32, 'batch_size': 256, 'units_1': 32, 'units_2': 64, 'units_3': 48, 'units_4': 16, 'units_5': 48, 'tuner/epochs': 20, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 64, 'num_layers': 5, 'units_0': 32, 'batch_size': 512, 'units_1': 48, 'units_2': 64, 'units_3': 16, 'units_4': 32, 'units_5': 48, 'tuner/epochs': 7, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 50, 'num_layers': 6, 'units_0': 16, 'batch_size': 768, 'units_1': 64, 'units_2': 48, 'units_3': 32, 'units_4': 32, 'units_5': 48, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0051'}

In [16]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5487 - accuracy: 0.7356 - 613ms/epoch - 2ms/step
Loss: 0.5487129092216492, Accuracy: 0.7356268167495728
268/268 - 1s - loss: 0.5500 - accuracy: 0.7349 - 625ms/epoch - 2ms/step
Loss: 0.5500326156616211, Accuracy: 0.7349271178245544
268/268 - 1s - loss: 0.5511 - accuracy: 0.7346 - 737ms/epoch - 3ms/step
Loss: 0.5511004328727722, Accuracy: 0.7345772385597229

MODEL 1

In [35]:
# Show model summary for the first model from the tuner
print("MODEL 1 SUMMARY:\n")
print("Params for model 1:\n")
display(top_hyper[0].values)
print("\nAccuracy:\n")
top_model[0].evaluate(X_test_scaled, y_test, verbose=2)
print("\nSummary:\n")
top_model[0].summary()

MODEL 1 SUMMARY:

Params for model 1:

{'activation': 'relu',
 'first_units': 46,
 'num_layers': 2,
 'units_0': 32,
 'batch_size': 256,
 'units_1': 32,
 'units_2': 64,
 'units_3': 48,
 'units_4': 16,
 'units_5': 48,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

Accuracy:

268/268 - 1s - loss: 0.5487 - accuracy: 0.7356 - 530ms/epoch - 2ms/step

Summary:

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 46)                2024

 dense_1 (Dense)             (None, 32)                1504

 dense_2 (Dense)             (None, 32)                1056

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 4,617
Trainable params: 4,617
Non-trainable params: 0
_________________________________________________________________

MODEL 2

In [33]:
# Show model summary for the second model from the tuner
print("MODEL 2 SUMMARY:\n")
print("Params for model 1:\n")
display(top_hyper[1].values)
print("\nAccuracy:\n")
top_model[1].evaluate(X_test_scaled, y_test, verbose=2)
print("\nSummary:\n")
top_model[1].summary()

MODEL 2 SUMMARY:

Params for model 1:

{'activation': 'relu',
 'first_units': 64,
 'num_layers': 5,
 'units_0': 32,
 'batch_size': 512,
 'units_1': 48,
 'units_2': 64,
 'units_3': 16,
 'units_4': 32,
 'units_5': 48,
 'tuner/epochs': 7,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 1,
 'tuner/round': 0}

Accuracy:

268/268 - 1s - loss: 0.5500 - accuracy: 0.7349 - 596ms/epoch - 2ms/step

Summary:

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                2816

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 48)                1584

 dense_3 (Dense)             (None, 64)                3136

 dense_4 (Dense)             (None, 16)                1040

 dense_5 (Dense)             (None, 32)                544

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 11,233
Trainable params: 11,233
Non-trainable params: 0
_________________________________________________________________

MODEL 3

In [34]:
# Show model summary for the third model from the tuner
print("MODEL 3 SUMMARY:\n")
print("Params for model 3:\n")
display(top_hyper[2].values)
print("\nAccuracy:\n")
top_model[2].evaluate(X_test_scaled, y_test, verbose=2)
print("\nSummary:\n")
top_model[2].summary()

MODEL 3 SUMMARY:

Params for model 3:

{'activation': 'tanh',
 'first_units': 50,
 'num_layers': 6,
 'units_0': 16,
 'batch_size': 768,
 'units_1': 64,
 'units_2': 48,
 'units_3': 32,
 'units_4': 32,
 'units_5': 48,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0051'}

Accuracy:

268/268 - 1s - loss: 0.5511 - accuracy: 0.7346 - 588ms/epoch - 2ms/step

Summary:

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2200

 dense_1 (Dense)             (None, 16)                816

 dense_2 (Dense)             (None, 64)                1088

 dense_3 (Dense)             (None, 48)                3120

 dense_4 (Dense)             (None, 32)                1568

 dense_5 (Dense)             (None, 32)                1056

 dense_6 (Dense)             (None, 48)                1584

 dense_7 (Dense)             (None, 1)                 49

=================================================================
Total params: 11,481
Trainable params: 11,481
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Export top model to HDF5 file
best_model = tuner.get_best_models(1)[0]
best_model.save("AlphabetSoupCharity_Optimization.h5")

In [21]:
# Clean up the tuner log to avoid conflicts in future runs
import shutil

folder_path = 'untitled_project'
if os.path.exists(folder_path):
    shutil.rmtree(folder_path)
else:
    print(f"Folder {folder_path} does not exist.")