## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

gpus = tf.config.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
    except RuntimeError as e:
        print(e)
        
# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)

In [19]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION", 
                                                   "AFFILIATION", "USE_CASE", "ORGANIZATION", 
                                                   "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [26]:
# Split our preprocessed data into our features and target arrays
X = dummy_df.drop(columns=["IS_SUCCESSFUL"]).values
y = dummy_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
print(X_train_scaled.shape[1])
# Defining input layer shape
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=48, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=48, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=48, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=48, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

43
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 48)                2112

 dense_6 (Dense)             (None, 48)                2352

 dense_7 (Dense)             (None, 48)                2352

 dense_8 (Dense)             (None, 48)                2352

 dense_9 (Dense)             (None, 1)                 49

=================================================================
Total params: 9,217
Trainable params: 9,217
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
early_stop = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=10)
nn.fit(X_train_scaled, y_train, epochs=200, batch_size=2048, verbose=2, callbacks=[early_stop])

Epoch 1/200
13/13 - 0s - loss: 0.6672 - accuracy: 0.6542 - 490ms/epoch - 38ms/step
Epoch 2/200
13/13 - 0s - loss: 0.6084 - accuracy: 0.7139 - 68ms/epoch - 5ms/step
Epoch 3/200
13/13 - 0s - loss: 0.5716 - accuracy: 0.7222 - 57ms/epoch - 4ms/step
Epoch 4/200
13/13 - 0s - loss: 0.5619 - accuracy: 0.7283 - 51ms/epoch - 4ms/step
Epoch 5/200
13/13 - 0s - loss: 0.5576 - accuracy: 0.7275 - 50ms/epoch - 4ms/step
Epoch 6/200
13/13 - 0s - loss: 0.5544 - accuracy: 0.7289 - 51ms/epoch - 4ms/step
Epoch 7/200
13/13 - 0s - loss: 0.5525 - accuracy: 0.7300 - 56ms/epoch - 4ms/step
Epoch 8/200
13/13 - 0s - loss: 0.5510 - accuracy: 0.7309 - 50ms/epoch - 4ms/step
Epoch 9/200
13/13 - 0s - loss: 0.5491 - accuracy: 0.7317 - 55ms/epoch - 4ms/step
Epoch 10/200
13/13 - 0s - loss: 0.5478 - accuracy: 0.7323 - 54ms/epoch - 4ms/step
Epoch 11/200
13/13 - 0s - loss: 0.5474 - accuracy: 0.7322 - 50ms/epoch - 4ms/step
Epoch 12/200
13/13 - 0s - loss: 0.5471 - accuracy: 0.7319 - 45ms/epoch - 3ms/step
Epoch 13/200
13/13 - 0s - loss: 0.5465 - accuracy: 0.7330 - 47ms/epoch - 4ms/step
Epoch 14/200
13/13 - 0s - loss: 0.5452 - accuracy: 0.7324 - 46ms/epoch - 4ms/step
Epoch 15/200
13/13 - 0s - loss: 0.5452 - accuracy: 0.7318 - 63ms/epoch - 5ms/step
Epoch 16/200
13/13 - 0s - loss: 0.5446 - accuracy: 0.7333 - 69ms/epoch - 5ms/step
Epoch 17/200
13/13 - 0s - loss: 0.5446 - accuracy: 0.7336 - 54ms/epoch - 4ms/step
Epoch 18/200
13/13 - 0s - loss: 0.5440 - accuracy: 0.7339 - 61ms/epoch - 5ms/step
Epoch 19/200
13/13 - 0s - loss: 0.5438 - accuracy: 0.7331 - 59ms/epoch - 5ms/step
Epoch 20/200
13/13 - 0s - loss: 0.5436 - accuracy: 0.7341 - 46ms/epoch - 4ms/step
Epoch 21/200
13/13 - 0s - loss: 0.5433 - accuracy: 0.7347 - 55ms/epoch - 4ms/step
Epoch 22/200
13/13 - 0s - loss: 0.5430 - accuracy: 0.7339 - 61ms/epoch - 5ms/step
Epoch 23/200
13/13 - 0s - loss: 0.5426 - accuracy: 0.7339 - 67ms/epoch - 5ms/step
Epoch 24/200
13/13 - 0s - loss: 0.5421 - accuracy: 0.7358 - 55ms/epoch - 4ms/step
Epoch 25/200
13/13 - 0s - loss: 0.5416 - accuracy: 0.7339 - 47ms/epoch - 4ms/step
Epoch 26/200
13/13 - 0s - loss: 0.5426 - accuracy: 0.7334 - 46ms/epoch - 4ms/step
Epoch 27/200
13/13 - 0s - loss: 0.5422 - accuracy: 0.7345 - 49ms/epoch - 4ms/step
Epoch 28/200
13/13 - 0s - loss: 0.5414 - accuracy: 0.7346 - 47ms/epoch - 4ms/step
Epoch 29/200
13/13 - 0s - loss: 0.5407 - accuracy: 0.7369 - 49ms/epoch - 4ms/step
Epoch 30/200
13/13 - 0s - loss: 0.5419 - accuracy: 0.7358 - 46ms/epoch - 4ms/step
Epoch 31/200
13/13 - 0s - loss: 0.5406 - accuracy: 0.7357 - 46ms/epoch - 4ms/step
Epoch 32/200
13/13 - 0s - loss: 0.5407 - accuracy: 0.7350 - 50ms/epoch - 4ms/step
Epoch 33/200
13/13 - 0s - loss: 0.5404 - accuracy: 0.7360 - 49ms/epoch - 4ms/step
Epoch 34/200
13/13 - 0s - loss: 0.5403 - accuracy: 0.7369 - 50ms/epoch - 4ms/step
Epoch 35/200
13/13 - 0s - loss: 0.5399 - accuracy: 0.7368 - 49ms/epoch - 4ms/step
Epoch 36/200
13/13 - 0s - loss: 0.5394 - accuracy: 0.7376 - 47ms/epoch - 4ms/step
Epoch 37/200
13/13 - 0s - loss: 0.5394 - accuracy: 0.7371 - 45ms/epoch - 3ms/step
Epoch 38/200
13/13 - 0s - loss: 0.5399 - accuracy: 0.7366 - 51ms/epoch - 4ms/step
Epoch 39/200
13/13 - 0s - loss: 0.5394 - accuracy: 0.7369 - 52ms/epoch - 4ms/step
Epoch 40/200
13/13 - 0s - loss: 0.5396 - accuracy: 0.7380 - 70ms/epoch - 5ms/step
Epoch 41/200
13/13 - 0s - loss: 0.5393 - accuracy: 0.7359 - 45ms/epoch - 3ms/step
Epoch 42/200
13/13 - 0s - loss: 0.5391 - accuracy: 0.7362 - 47ms/epoch - 4ms/step
Epoch 43/200
13/13 - 0s - loss: 0.5389 - accuracy: 0.7359 - 46ms/epoch - 4ms/step
Epoch 44/200
13/13 - 0s - loss: 0.5388 - accuracy: 0.7374 - 45ms/epoch - 3ms/step
Epoch 45/200
13/13 - 0s - loss: 0.5389 - accuracy: 0.7372 - 56ms/epoch - 4ms/step
Epoch 46/200
13/13 - 0s - loss: 0.5387 - accuracy: 0.7384 - 55ms/epoch - 4ms/step
Epoch 47/200
13/13 - 0s - loss: 0.5382 - accuracy: 0.7374 - 48ms/epoch - 4ms/step
Epoch 48/200
13/13 - 0s - loss: 0.5384 - accuracy: 0.7371 - 52ms/epoch - 4ms/step
Epoch 49/200
13/13 - 0s - loss: 0.5381 - accuracy: 0.7380 - 43ms/epoch - 3ms/step
Epoch 50/200
13/13 - 0s - loss: 0.5380 - accuracy: 0.7381 - 46ms/epoch - 4ms/step
Epoch 51/200
13/13 - 0s - loss: 0.5381 - accuracy: 0.7385 - 45ms/epoch - 3ms/step
Epoch 52/200
13/13 - 0s - loss: 0.5381 - accuracy: 0.7369 - 40ms/epoch - 3ms/step
Epoch 53/200
13/13 - 0s - loss: 0.5378 - accuracy: 0.7379 - 46ms/epoch - 4ms/step
Epoch 54/200
13/13 - 0s - loss: 0.5379 - accuracy: 0.7379 - 45ms/epoch - 3ms/step
Epoch 55/200
13/13 - 0s - loss: 0.5384 - accuracy: 0.7372 - 45ms/epoch - 3ms/step
Epoch 56/200
13/13 - 0s - loss: 0.5385 - accuracy: 0.7383 - 49ms/epoch - 4ms/step
Epoch 57/200
13/13 - 0s - loss: 0.5381 - accuracy: 0.7370 - 52ms/epoch - 4ms/step
Epoch 58/200
13/13 - 0s - loss: 0.5371 - accuracy: 0.7388 - 49ms/epoch - 4ms/step
Epoch 59/200
13/13 - 0s - loss: 0.5371 - accuracy: 0.7380 - 51ms/epoch - 4ms/step
Epoch 60/200
13/13 - 0s - loss: 0.5368 - accuracy: 0.7385 - 52ms/epoch - 4ms/step
Epoch 61/200
13/13 - 0s - loss: 0.5373 - accuracy: 0.7369 - 50ms/epoch - 4ms/step
Epoch 62/200
13/13 - 0s - loss: 0.5369 - accuracy: 0.7381 - 54ms/epoch - 4ms/step
Epoch 63/200
13/13 - 0s - loss: 0.5363 - accuracy: 0.7386 - 58ms/epoch - 4ms/step
Epoch 64/200
13/13 - 0s - loss: 0.5368 - accuracy: 0.7381 - 60ms/epoch - 5ms/step
Epoch 65/200
13/13 - 0s - loss: 0.5376 - accuracy: 0.7376 - 57ms/epoch - 4ms/step
Epoch 66/200
13/13 - 0s - loss: 0.5377 - accuracy: 0.7385 - 58ms/epoch - 4ms/step
Epoch 67/200
13/13 - 0s - loss: 0.5375 - accuracy: 0.7375 - 51ms/epoch - 4ms/step
Epoch 68/200
13/13 - 0s - loss: 0.5364 - accuracy: 0.7387 - 52ms/epoch - 4ms/step
Epoch 69/200
13/13 - 0s - loss: 0.5364 - accuracy: 0.7385 - 50ms/epoch - 4ms/step
Epoch 70/200
13/13 - 0s - loss: 0.5360 - accuracy: 0.7387 - 46ms/epoch - 4ms/step
Epoch 71/200
13/13 - 0s - loss: 0.5358 - accuracy: 0.7381 - 48ms/epoch - 4ms/step
Epoch 72/200
13/13 - 0s - loss: 0.5361 - accuracy: 0.7378 - 49ms/epoch - 4ms/step
Epoch 73/200
13/13 - 0s - loss: 0.5363 - accuracy: 0.7382 - 52ms/epoch - 4ms/step
Epoch 74/200
13/13 - 0s - loss: 0.5361 - accuracy: 0.7397 - 50ms/epoch - 4ms/step
Epoch 75/200
13/13 - 0s - loss: 0.5363 - accuracy: 0.7382 - 46ms/epoch - 4ms/step
Epoch 76/200
13/13 - 0s - loss: 0.5359 - accuracy: 0.7379 - 51ms/epoch - 4ms/step
Epoch 77/200
13/13 - 0s - loss: 0.5360 - accuracy: 0.7395 - 57ms/epoch - 4ms/step
Epoch 78/200
13/13 - 0s - loss: 0.5356 - accuracy: 0.7389 - 83ms/epoch - 6ms/step
Epoch 79/200
13/13 - 0s - loss: 0.5352 - accuracy: 0.7390 - 49ms/epoch - 4ms/step
Epoch 80/200
13/13 - 0s - loss: 0.5353 - accuracy: 0.7402 - 52ms/epoch - 4ms/step
Epoch 81/200
13/13 - 0s - loss: 0.5351 - accuracy: 0.7381 - 54ms/epoch - 4ms/step
Epoch 82/200
13/13 - 0s - loss: 0.5351 - accuracy: 0.7395 - 64ms/epoch - 5ms/step
Epoch 83/200
13/13 - 0s - loss: 0.5354 - accuracy: 0.7388 - 68ms/epoch - 5ms/step
Epoch 84/200
13/13 - 0s - loss: 0.5354 - accuracy: 0.7384 - 83ms/epoch - 6ms/step
Epoch 85/200
13/13 - 0s - loss: 0.5353 - accuracy: 0.7384 - 56ms/epoch - 4ms/step
Epoch 86/200
13/13 - 0s - loss: 0.5348 - accuracy: 0.7385 - 65ms/epoch - 5ms/step
Epoch 87/200
13/13 - 0s - loss: 0.5356 - accuracy: 0.7374 - 58ms/epoch - 4ms/step
Epoch 88/200
13/13 - 0s - loss: 0.5349 - accuracy: 0.7388 - 49ms/epoch - 4ms/step
Epoch 89/200
13/13 - 0s - loss: 0.5350 - accuracy: 0.7396 - 49ms/epoch - 4ms/step
Epoch 90/200
13/13 - 0s - loss: 0.5354 - accuracy: 0.7393 - 61ms/epoch - 5ms/step
Epoch 91/200
13/13 - 0s - loss: 0.5354 - accuracy: 0.7393 - 55ms/epoch - 4ms/step
Epoch 92/200
13/13 - 0s - loss: 0.5348 - accuracy: 0.7394 - 61ms/epoch - 5ms/step
Epoch 93/200
13/13 - 0s - loss: 0.5346 - accuracy: 0.7399 - 60ms/epoch - 5ms/step
Epoch 94/200
13/13 - 0s - loss: 0.5344 - accuracy: 0.7395 - 55ms/epoch - 4ms/step
Epoch 95/200
13/13 - 0s - loss: 0.5348 - accuracy: 0.7399 - 56ms/epoch - 4ms/step
Epoch 96/200
13/13 - 0s - loss: 0.5348 - accuracy: 0.7400 - 63ms/epoch - 5ms/step
Epoch 97/200
13/13 - 0s - loss: 0.5358 - accuracy: 0.7365 - 62ms/epoch - 5ms/step
Epoch 98/200
13/13 - 0s - loss: 0.5357 - accuracy: 0.7394 - 55ms/epoch - 4ms/step
Epoch 99/200
13/13 - 0s - loss: 0.5350 - accuracy: 0.7395 - 62ms/epoch - 5ms/step
Epoch 100/200
13/13 - 0s - loss: 0.5343 - accuracy: 0.7391 - 57ms/epoch - 4ms/step
Epoch 101/200
13/13 - 0s - loss: 0.5343 - accuracy: 0.7404 - 63ms/epoch - 5ms/step
Epoch 102/200
13/13 - 0s - loss: 0.5350 - accuracy: 0.7397 - 57ms/epoch - 4ms/step
Epoch 103/200
13/13 - 0s - loss: 0.5346 - accuracy: 0.7395 - 61ms/epoch - 5ms/step
Epoch 104/200
13/13 - 0s - loss: 0.5345 - accuracy: 0.7395 - 67ms/epoch - 5ms/step
Epoch 105/200
13/13 - 0s - loss: 0.5338 - accuracy: 0.7404 - 74ms/epoch - 6ms/step
Epoch 106/200
13/13 - 0s - loss: 0.5343 - accuracy: 0.7391 - 62ms/epoch - 5ms/step
Epoch 107/200
13/13 - 0s - loss: 0.5347 - accuracy: 0.7391 - 59ms/epoch - 5ms/step
Epoch 108/200
13/13 - 0s - loss: 0.5346 - accuracy: 0.7389 - 58ms/epoch - 4ms/step
Epoch 109/200
13/13 - 0s - loss: 0.5344 - accuracy: 0.7402 - 55ms/epoch - 4ms/step
Epoch 110/200
13/13 - 0s - loss: 0.5346 - accuracy: 0.7379 - 52ms/epoch - 4ms/step
Epoch 111/200
13/13 - 0s - loss: 0.5359 - accuracy: 0.7394 - 52ms/epoch - 4ms/step
Epoch 112/200
13/13 - 0s - loss: 0.5345 - accuracy: 0.7383 - 64ms/epoch - 5ms/step
Epoch 113/200
13/13 - 0s - loss: 0.5344 - accuracy: 0.7402 - 62ms/epoch - 5ms/step
Epoch 114/200
13/13 - 0s - loss: 0.5349 - accuracy: 0.7398 - 66ms/epoch - 5ms/step
Epoch 115/200
13/13 - 0s - loss: 0.5341 - accuracy: 0.7393 - 57ms/epoch - 4ms/step

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5529 - accuracy: 0.7315 - 712ms/epoch - 3ms/step
Loss: 0.5528998374938965, Accuracy: 0.7315452098846436

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")