## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Check if TensorFlow can access GPU hardware acceleration
gpus = tf.config.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
    except RuntimeError as e:
        print(e)
else:
    print("No GPU found, using CPU for training.")
        
# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION", 
                                                   "AFFILIATION", "USE_CASE", "ORGANIZATION", 
                                                   "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummy_df.drop(columns=["IS_SUCCESSFUL"]).values
y = dummy_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
print(X_train_scaled.shape[1])
# Defining input layer shape
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

43
Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                2816

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 4,929
Trainable params: 4,929
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model, adjust the batch_size as needed if you run into memory issues
nn.fit(X_train_scaled, y_train, epochs=200, verbose=2, batch_size=1024)

Epoch 1/200
26/26 - 0s - loss: 0.6583 - accuracy: 0.6336 - 458ms/epoch - 18ms/step
Epoch 2/200
26/26 - 0s - loss: 0.5798 - accuracy: 0.7231 - 74ms/epoch - 3ms/step
Epoch 3/200
26/26 - 0s - loss: 0.5657 - accuracy: 0.7236 - 71ms/epoch - 3ms/step
Epoch 4/200
26/26 - 0s - loss: 0.5607 - accuracy: 0.7278 - 101ms/epoch - 4ms/step
Epoch 5/200
26/26 - 0s - loss: 0.5576 - accuracy: 0.7273 - 84ms/epoch - 3ms/step
Epoch 6/200
26/26 - 0s - loss: 0.5551 - accuracy: 0.7292 - 85ms/epoch - 3ms/step
Epoch 7/200
26/26 - 0s - loss: 0.5539 - accuracy: 0.7297 - 89ms/epoch - 3ms/step
Epoch 8/200
26/26 - 0s - loss: 0.5523 - accuracy: 0.7291 - 89ms/epoch - 3ms/step
Epoch 9/200
26/26 - 0s - loss: 0.5508 - accuracy: 0.7306 - 82ms/epoch - 3ms/step
Epoch 10/200
26/26 - 0s - loss: 0.5501 - accuracy: 0.7315 - 83ms/epoch - 3ms/step
Epoch 11/200
26/26 - 0s - loss: 0.5491 - accuracy: 0.7304 - 80ms/epoch - 3ms/step
Epoch 12/200
26/26 - 0s - loss: 0.5490 - accuracy: 0.7319 - 74ms/epoch - 3ms/step
Epoch 13/200
26/26 - 0s - loss: 0.5490 - accuracy: 0.7311 - 69ms/epoch - 3ms/step
Epoch 14/200
26/26 - 0s - loss: 0.5475 - accuracy: 0.7321 - 71ms/epoch - 3ms/step
Epoch 15/200
26/26 - 0s - loss: 0.5473 - accuracy: 0.7315 - 82ms/epoch - 3ms/step
Epoch 16/200
26/26 - 0s - loss: 0.5465 - accuracy: 0.7321 - 70ms/epoch - 3ms/step
Epoch 17/200
26/26 - 0s - loss: 0.5461 - accuracy: 0.7329 - 74ms/epoch - 3ms/step
Epoch 18/200
26/26 - 0s - loss: 0.5454 - accuracy: 0.7324 - 65ms/epoch - 3ms/step
Epoch 19/200
26/26 - 0s - loss: 0.5452 - accuracy: 0.7329 - 72ms/epoch - 3ms/step
Epoch 20/200
26/26 - 0s - loss: 0.5451 - accuracy: 0.7323 - 70ms/epoch - 3ms/step
Epoch 21/200
26/26 - 0s - loss: 0.5453 - accuracy: 0.7314 - 73ms/epoch - 3ms/step
Epoch 22/200
26/26 - 0s - loss: 0.5450 - accuracy: 0.7329 - 68ms/epoch - 3ms/step
Epoch 23/200
26/26 - 0s - loss: 0.5447 - accuracy: 0.7333 - 67ms/epoch - 3ms/step
Epoch 24/200
26/26 - 0s - loss: 0.5441 - accuracy: 0.7320 - 73ms/epoch - 3ms/step
Epoch 25/200
26/26 - 0s - loss: 0.5442 - accuracy: 0.7331 - 77ms/epoch - 3ms/step
Epoch 26/200
26/26 - 0s - loss: 0.5444 - accuracy: 0.7336 - 73ms/epoch - 3ms/step
Epoch 27/200
26/26 - 0s - loss: 0.5434 - accuracy: 0.7343 - 80ms/epoch - 3ms/step
Epoch 28/200
26/26 - 0s - loss: 0.5439 - accuracy: 0.7328 - 73ms/epoch - 3ms/step
Epoch 29/200
26/26 - 0s - loss: 0.5431 - accuracy: 0.7343 - 73ms/epoch - 3ms/step
Epoch 30/200
26/26 - 0s - loss: 0.5425 - accuracy: 0.7333 - 78ms/epoch - 3ms/step
Epoch 31/200
26/26 - 0s - loss: 0.5428 - accuracy: 0.7337 - 73ms/epoch - 3ms/step
Epoch 32/200
26/26 - 0s - loss: 0.5433 - accuracy: 0.7344 - 76ms/epoch - 3ms/step
Epoch 33/200
26/26 - 0s - loss: 0.5421 - accuracy: 0.7346 - 78ms/epoch - 3ms/step
Epoch 34/200
26/26 - 0s - loss: 0.5421 - accuracy: 0.7348 - 78ms/epoch - 3ms/step
Epoch 35/200
26/26 - 0s - loss: 0.5429 - accuracy: 0.7347 - 87ms/epoch - 3ms/step
Epoch 36/200
26/26 - 0s - loss: 0.5420 - accuracy: 0.7345 - 82ms/epoch - 3ms/step
Epoch 37/200
26/26 - 0s - loss: 0.5420 - accuracy: 0.7350 - 82ms/epoch - 3ms/step
Epoch 38/200
26/26 - 0s - loss: 0.5418 - accuracy: 0.7349 - 83ms/epoch - 3ms/step
Epoch 39/200
26/26 - 0s - loss: 0.5412 - accuracy: 0.7349 - 84ms/epoch - 3ms/step
Epoch 40/200
26/26 - 0s - loss: 0.5410 - accuracy: 0.7357 - 68ms/epoch - 3ms/step
Epoch 41/200
26/26 - 0s - loss: 0.5412 - accuracy: 0.7349 - 68ms/epoch - 3ms/step
Epoch 42/200
26/26 - 0s - loss: 0.5413 - accuracy: 0.7357 - 77ms/epoch - 3ms/step
Epoch 43/200
26/26 - 0s - loss: 0.5410 - accuracy: 0.7356 - 79ms/epoch - 3ms/step
Epoch 44/200
26/26 - 0s - loss: 0.5408 - accuracy: 0.7357 - 73ms/epoch - 3ms/step
Epoch 45/200
26/26 - 0s - loss: 0.5410 - accuracy: 0.7345 - 89ms/epoch - 3ms/step
Epoch 46/200
26/26 - 0s - loss: 0.5409 - accuracy: 0.7362 - 79ms/epoch - 3ms/step
Epoch 47/200
26/26 - 0s - loss: 0.5407 - accuracy: 0.7352 - 69ms/epoch - 3ms/step
Epoch 48/200
26/26 - 0s - loss: 0.5406 - accuracy: 0.7360 - 75ms/epoch - 3ms/step
Epoch 49/200
26/26 - 0s - loss: 0.5405 - accuracy: 0.7355 - 77ms/epoch - 3ms/step
Epoch 50/200
26/26 - 0s - loss: 0.5403 - accuracy: 0.7366 - 71ms/epoch - 3ms/step
Epoch 51/200
26/26 - 0s - loss: 0.5401 - accuracy: 0.7360 - 60ms/epoch - 2ms/step
Epoch 52/200
26/26 - 0s - loss: 0.5406 - accuracy: 0.7366 - 70ms/epoch - 3ms/step
Epoch 53/200
26/26 - 0s - loss: 0.5399 - accuracy: 0.7363 - 78ms/epoch - 3ms/step
Epoch 54/200
26/26 - 0s - loss: 0.5401 - accuracy: 0.7356 - 91ms/epoch - 3ms/step
Epoch 55/200
26/26 - 0s - loss: 0.5400 - accuracy: 0.7359 - 92ms/epoch - 4ms/step
Epoch 56/200
26/26 - 0s - loss: 0.5401 - accuracy: 0.7360 - 108ms/epoch - 4ms/step
Epoch 57/200
26/26 - 0s - loss: 0.5399 - accuracy: 0.7364 - 84ms/epoch - 3ms/step
Epoch 58/200
26/26 - 0s - loss: 0.5399 - accuracy: 0.7371 - 75ms/epoch - 3ms/step
Epoch 59/200
26/26 - 0s - loss: 0.5400 - accuracy: 0.7366 - 76ms/epoch - 3ms/step
Epoch 60/200
26/26 - 0s - loss: 0.5401 - accuracy: 0.7362 - 85ms/epoch - 3ms/step
Epoch 61/200
26/26 - 0s - loss: 0.5393 - accuracy: 0.7367 - 72ms/epoch - 3ms/step
Epoch 62/200
26/26 - 0s - loss: 0.5395 - accuracy: 0.7367 - 84ms/epoch - 3ms/step
Epoch 63/200
26/26 - 0s - loss: 0.5396 - accuracy: 0.7369 - 84ms/epoch - 3ms/step
Epoch 64/200
26/26 - 0s - loss: 0.5401 - accuracy: 0.7344 - 78ms/epoch - 3ms/step
Epoch 65/200
26/26 - 0s - loss: 0.5395 - accuracy: 0.7374 - 83ms/epoch - 3ms/step
Epoch 66/200
26/26 - 0s - loss: 0.5395 - accuracy: 0.7365 - 79ms/epoch - 3ms/step
Epoch 67/200
26/26 - 0s - loss: 0.5405 - accuracy: 0.7360 - 75ms/epoch - 3ms/step
Epoch 68/200
26/26 - 0s - loss: 0.5400 - accuracy: 0.7366 - 79ms/epoch - 3ms/step
Epoch 69/200
26/26 - 0s - loss: 0.5392 - accuracy: 0.7363 - 72ms/epoch - 3ms/step
Epoch 70/200
26/26 - 0s - loss: 0.5392 - accuracy: 0.7372 - 83ms/epoch - 3ms/step
Epoch 71/200
26/26 - 0s - loss: 0.5390 - accuracy: 0.7371 - 75ms/epoch - 3ms/step
Epoch 72/200
26/26 - 0s - loss: 0.5392 - accuracy: 0.7375 - 67ms/epoch - 3ms/step
Epoch 73/200
26/26 - 0s - loss: 0.5384 - accuracy: 0.7369 - 73ms/epoch - 3ms/step
Epoch 74/200
26/26 - 0s - loss: 0.5395 - accuracy: 0.7373 - 72ms/epoch - 3ms/step
Epoch 75/200
26/26 - 0s - loss: 0.5392 - accuracy: 0.7371 - 72ms/epoch - 3ms/step
Epoch 76/200
26/26 - 0s - loss: 0.5389 - accuracy: 0.7369 - 69ms/epoch - 3ms/step
Epoch 77/200
26/26 - 0s - loss: 0.5388 - accuracy: 0.7371 - 67ms/epoch - 3ms/step
Epoch 78/200
26/26 - 0s - loss: 0.5387 - accuracy: 0.7373 - 74ms/epoch - 3ms/step
Epoch 79/200
26/26 - 0s - loss: 0.5386 - accuracy: 0.7381 - 72ms/epoch - 3ms/step
Epoch 80/200
26/26 - 0s - loss: 0.5381 - accuracy: 0.7377 - 75ms/epoch - 3ms/step
Epoch 81/200
26/26 - 0s - loss: 0.5382 - accuracy: 0.7383 - 72ms/epoch - 3ms/step
Epoch 82/200
26/26 - 0s - loss: 0.5384 - accuracy: 0.7379 - 74ms/epoch - 3ms/step
Epoch 83/200
26/26 - 0s - loss: 0.5388 - accuracy: 0.7375 - 75ms/epoch - 3ms/step
Epoch 84/200
26/26 - 0s - loss: 0.5382 - accuracy: 0.7376 - 74ms/epoch - 3ms/step
Epoch 85/200
26/26 - 0s - loss: 0.5378 - accuracy: 0.7387 - 69ms/epoch - 3ms/step
Epoch 86/200
26/26 - 0s - loss: 0.5384 - accuracy: 0.7378 - 73ms/epoch - 3ms/step
Epoch 87/200
26/26 - 0s - loss: 0.5379 - accuracy: 0.7385 - 68ms/epoch - 3ms/step
Epoch 88/200
26/26 - 0s - loss: 0.5383 - accuracy: 0.7374 - 68ms/epoch - 3ms/step
Epoch 89/200
26/26 - 0s - loss: 0.5383 - accuracy: 0.7384 - 66ms/epoch - 3ms/step
Epoch 90/200
26/26 - 0s - loss: 0.5378 - accuracy: 0.7383 - 66ms/epoch - 3ms/step
Epoch 91/200
26/26 - 0s - loss: 0.5383 - accuracy: 0.7378 - 64ms/epoch - 2ms/step
Epoch 92/200
26/26 - 0s - loss: 0.5380 - accuracy: 0.7386 - 63ms/epoch - 2ms/step
Epoch 93/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7379 - 69ms/epoch - 3ms/step
Epoch 94/200
26/26 - 0s - loss: 0.5375 - accuracy: 0.7386 - 66ms/epoch - 3ms/step
Epoch 95/200
26/26 - 0s - loss: 0.5378 - accuracy: 0.7381 - 75ms/epoch - 3ms/step
Epoch 96/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7375 - 71ms/epoch - 3ms/step
Epoch 97/200
26/26 - 0s - loss: 0.5376 - accuracy: 0.7388 - 78ms/epoch - 3ms/step
Epoch 98/200
26/26 - 0s - loss: 0.5379 - accuracy: 0.7381 - 91ms/epoch - 4ms/step
Epoch 99/200
26/26 - 0s - loss: 0.5372 - accuracy: 0.7385 - 71ms/epoch - 3ms/step
Epoch 100/200
26/26 - 0s - loss: 0.5379 - accuracy: 0.7378 - 75ms/epoch - 3ms/step
Epoch 101/200
26/26 - 0s - loss: 0.5385 - accuracy: 0.7370 - 76ms/epoch - 3ms/step
Epoch 102/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7382 - 70ms/epoch - 3ms/step
Epoch 103/200
26/26 - 0s - loss: 0.5375 - accuracy: 0.7380 - 64ms/epoch - 2ms/step
Epoch 104/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7378 - 64ms/epoch - 2ms/step
Epoch 105/200
26/26 - 0s - loss: 0.5371 - accuracy: 0.7380 - 69ms/epoch - 3ms/step
Epoch 106/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7381 - 76ms/epoch - 3ms/step
Epoch 107/200
26/26 - 0s - loss: 0.5373 - accuracy: 0.7384 - 73ms/epoch - 3ms/step
Epoch 108/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7374 - 74ms/epoch - 3ms/step
Epoch 109/200
26/26 - 0s - loss: 0.5371 - accuracy: 0.7374 - 82ms/epoch - 3ms/step
Epoch 110/200
26/26 - 0s - loss: 0.5372 - accuracy: 0.7385 - 63ms/epoch - 2ms/step
Epoch 111/200
26/26 - 0s - loss: 0.5368 - accuracy: 0.7390 - 74ms/epoch - 3ms/step
Epoch 112/200
26/26 - 0s - loss: 0.5369 - accuracy: 0.7374 - 76ms/epoch - 3ms/step
Epoch 113/200
26/26 - 0s - loss: 0.5372 - accuracy: 0.7385 - 65ms/epoch - 2ms/step
Epoch 114/200
26/26 - 0s - loss: 0.5382 - accuracy: 0.7378 - 73ms/epoch - 3ms/step
Epoch 115/200
26/26 - 0s - loss: 0.5378 - accuracy: 0.7388 - 81ms/epoch - 3ms/step
Epoch 116/200
26/26 - 0s - loss: 0.5374 - accuracy: 0.7383 - 78ms/epoch - 3ms/step
Epoch 117/200
26/26 - 0s - loss: 0.5377 - accuracy: 0.7386 - 73ms/epoch - 3ms/step
Epoch 118/200
26/26 - 0s - loss: 0.5369 - accuracy: 0.7385 - 62ms/epoch - 2ms/step
Epoch 119/200
26/26 - 0s - loss: 0.5368 - accuracy: 0.7393 - 63ms/epoch - 2ms/step
Epoch 120/200
26/26 - 0s - loss: 0.5369 - accuracy: 0.7388 - 65ms/epoch - 3ms/step
Epoch 121/200
26/26 - 0s - loss: 0.5372 - accuracy: 0.7389 - 63ms/epoch - 2ms/step
Epoch 122/200
26/26 - 0s - loss: 0.5364 - accuracy: 0.7383 - 72ms/epoch - 3ms/step
Epoch 123/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7383 - 75ms/epoch - 3ms/step
Epoch 124/200
26/26 - 0s - loss: 0.5368 - accuracy: 0.7392 - 72ms/epoch - 3ms/step
Epoch 125/200
26/26 - 0s - loss: 0.5369 - accuracy: 0.7371 - 78ms/epoch - 3ms/step
Epoch 126/200
26/26 - 0s - loss: 0.5369 - accuracy: 0.7390 - 74ms/epoch - 3ms/step
Epoch 127/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7388 - 71ms/epoch - 3ms/step
Epoch 128/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7393 - 71ms/epoch - 3ms/step
Epoch 129/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7390 - 66ms/epoch - 3ms/step
Epoch 130/200
26/26 - 0s - loss: 0.5367 - accuracy: 0.7380 - 69ms/epoch - 3ms/step
Epoch 131/200
26/26 - 0s - loss: 0.5368 - accuracy: 0.7375 - 67ms/epoch - 3ms/step
Epoch 132/200
26/26 - 0s - loss: 0.5366 - accuracy: 0.7383 - 65ms/epoch - 2ms/step
Epoch 133/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7383 - 63ms/epoch - 2ms/step
Epoch 134/200
26/26 - 0s - loss: 0.5363 - accuracy: 0.7390 - 82ms/epoch - 3ms/step
Epoch 135/200
26/26 - 0s - loss: 0.5364 - accuracy: 0.7383 - 63ms/epoch - 2ms/step
Epoch 136/200
26/26 - 0s - loss: 0.5364 - accuracy: 0.7393 - 74ms/epoch - 3ms/step
Epoch 137/200
26/26 - 0s - loss: 0.5366 - accuracy: 0.7391 - 66ms/epoch - 3ms/step
Epoch 138/200
26/26 - 0s - loss: 0.5368 - accuracy: 0.7389 - 67ms/epoch - 3ms/step
Epoch 139/200
26/26 - 0s - loss: 0.5364 - accuracy: 0.7383 - 69ms/epoch - 3ms/step
Epoch 140/200
26/26 - 0s - loss: 0.5361 - accuracy: 0.7388 - 69ms/epoch - 3ms/step
Epoch 141/200
26/26 - 0s - loss: 0.5366 - accuracy: 0.7384 - 85ms/epoch - 3ms/step
Epoch 142/200
26/26 - 0s - loss: 0.5362 - accuracy: 0.7391 - 81ms/epoch - 3ms/step
Epoch 143/200
26/26 - 0s - loss: 0.5363 - accuracy: 0.7384 - 73ms/epoch - 3ms/step
Epoch 144/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7381 - 67ms/epoch - 3ms/step
Epoch 145/200
26/26 - 0s - loss: 0.5362 - accuracy: 0.7400 - 72ms/epoch - 3ms/step
Epoch 146/200
26/26 - 0s - loss: 0.5363 - accuracy: 0.7392 - 95ms/epoch - 4ms/step
Epoch 147/200
26/26 - 0s - loss: 0.5367 - accuracy: 0.7398 - 93ms/epoch - 4ms/step
Epoch 148/200
26/26 - 0s - loss: 0.5362 - accuracy: 0.7396 - 74ms/epoch - 3ms/step
Epoch 149/200
26/26 - 0s - loss: 0.5357 - accuracy: 0.7386 - 75ms/epoch - 3ms/step
Epoch 150/200
26/26 - 0s - loss: 0.5367 - accuracy: 0.7371 - 77ms/epoch - 3ms/step
Epoch 151/200
26/26 - 0s - loss: 0.5359 - accuracy: 0.7384 - 81ms/epoch - 3ms/step
Epoch 152/200
26/26 - 0s - loss: 0.5358 - accuracy: 0.7394 - 73ms/epoch - 3ms/step
Epoch 153/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7393 - 68ms/epoch - 3ms/step
Epoch 154/200
26/26 - 0s - loss: 0.5357 - accuracy: 0.7393 - 63ms/epoch - 2ms/step
Epoch 155/200
26/26 - 0s - loss: 0.5365 - accuracy: 0.7387 - 64ms/epoch - 2ms/step
Epoch 156/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7388 - 73ms/epoch - 3ms/step
Epoch 157/200
26/26 - 0s - loss: 0.5360 - accuracy: 0.7393 - 72ms/epoch - 3ms/step
Epoch 158/200
26/26 - 0s - loss: 0.5362 - accuracy: 0.7397 - 68ms/epoch - 3ms/step
Epoch 159/200
26/26 - 0s - loss: 0.5359 - accuracy: 0.7385 - 65ms/epoch - 2ms/step
Epoch 160/200
26/26 - 0s - loss: 0.5356 - accuracy: 0.7392 - 70ms/epoch - 3ms/step
Epoch 161/200
26/26 - 0s - loss: 0.5363 - accuracy: 0.7394 - 71ms/epoch - 3ms/step
Epoch 162/200
26/26 - 0s - loss: 0.5354 - accuracy: 0.7390 - 69ms/epoch - 3ms/step
Epoch 163/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7391 - 74ms/epoch - 3ms/step
Epoch 164/200
26/26 - 0s - loss: 0.5356 - accuracy: 0.7392 - 74ms/epoch - 3ms/step
Epoch 165/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7392 - 68ms/epoch - 3ms/step
Epoch 166/200
26/26 - 0s - loss: 0.5357 - accuracy: 0.7398 - 74ms/epoch - 3ms/step
Epoch 167/200
26/26 - 0s - loss: 0.5357 - accuracy: 0.7387 - 74ms/epoch - 3ms/step
Epoch 168/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7393 - 66ms/epoch - 3ms/step
Epoch 169/200
26/26 - 0s - loss: 0.5354 - accuracy: 0.7390 - 75ms/epoch - 3ms/step
Epoch 170/200
26/26 - 0s - loss: 0.5354 - accuracy: 0.7396 - 68ms/epoch - 3ms/step
Epoch 171/200
26/26 - 0s - loss: 0.5353 - accuracy: 0.7395 - 73ms/epoch - 3ms/step
Epoch 172/200
26/26 - 0s - loss: 0.5356 - accuracy: 0.7395 - 61ms/epoch - 2ms/step
Epoch 173/200
26/26 - 0s - loss: 0.5359 - accuracy: 0.7392 - 78ms/epoch - 3ms/step
Epoch 174/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7386 - 76ms/epoch - 3ms/step
Epoch 175/200
26/26 - 0s - loss: 0.5353 - accuracy: 0.7385 - 74ms/epoch - 3ms/step
Epoch 176/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7398 - 90ms/epoch - 3ms/step
Epoch 177/200
26/26 - 0s - loss: 0.5350 - accuracy: 0.7400 - 80ms/epoch - 3ms/step
Epoch 178/200
26/26 - 0s - loss: 0.5351 - accuracy: 0.7388 - 83ms/epoch - 3ms/step
Epoch 179/200
26/26 - 0s - loss: 0.5361 - accuracy: 0.7388 - 81ms/epoch - 3ms/step
Epoch 180/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7400 - 79ms/epoch - 3ms/step
Epoch 181/200
26/26 - 0s - loss: 0.5359 - accuracy: 0.7388 - 74ms/epoch - 3ms/step
Epoch 182/200
26/26 - 0s - loss: 0.5358 - accuracy: 0.7393 - 70ms/epoch - 3ms/step
Epoch 183/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7395 - 72ms/epoch - 3ms/step
Epoch 184/200
26/26 - 0s - loss: 0.5353 - accuracy: 0.7399 - 68ms/epoch - 3ms/step
Epoch 185/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7391 - 72ms/epoch - 3ms/step
Epoch 186/200
26/26 - 0s - loss: 0.5358 - accuracy: 0.7372 - 77ms/epoch - 3ms/step
Epoch 187/200
26/26 - 0s - loss: 0.5357 - accuracy: 0.7385 - 63ms/epoch - 2ms/step
Epoch 188/200
26/26 - 0s - loss: 0.5350 - accuracy: 0.7396 - 66ms/epoch - 3ms/step
Epoch 189/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7393 - 73ms/epoch - 3ms/step
Epoch 190/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7396 - 88ms/epoch - 3ms/step
Epoch 191/200
26/26 - 0s - loss: 0.5354 - accuracy: 0.7399 - 77ms/epoch - 3ms/step
Epoch 192/200
26/26 - 0s - loss: 0.5347 - accuracy: 0.7402 - 68ms/epoch - 3ms/step
Epoch 193/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7403 - 79ms/epoch - 3ms/step
Epoch 194/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7397 - 79ms/epoch - 3ms/step
Epoch 195/200
26/26 - 0s - loss: 0.5349 - accuracy: 0.7395 - 74ms/epoch - 3ms/step
Epoch 196/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7386 - 75ms/epoch - 3ms/step
Epoch 197/200
26/26 - 0s - loss: 0.5356 - accuracy: 0.7399 - 75ms/epoch - 3ms/step
Epoch 198/200
26/26 - 0s - loss: 0.5352 - accuracy: 0.7380 - 74ms/epoch - 3ms/step
Epoch 199/200
26/26 - 0s - loss: 0.5355 - accuracy: 0.7390 - 74ms/epoch - 3ms/step
Epoch 200/200
26/26 - 0s - loss: 0.5351 - accuracy: 0.7379 - 71ms/epoch - 3ms/step

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5532 - accuracy: 0.7312 - 584ms/epoch - 2ms/step
Loss: 0.5531735420227051, Accuracy: 0.731195330619812

In [29]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")